*{
    margin:0px;
}
.first{
    display: flex;
    /* background-color: blueviolet; */
    justify-content: space-around;
    margin-right:9rem;
}
.logo{
    display:flex;
    justify-content: space-between;
}
.logo-image{
    width:10rem;
    height:6rem;
}
.searchbox{
    width:33rem;
    height: 2.3rem;
    font-size:18px;
    margin-top:23px;
    margin-left:20px;
    margin-right:10px;
    border: 2px rgb(232, 231, 231) solid;
    
}
#location{
    width:6rem;
    height: 2.5rem;
    margin-top:25px;
    border:none;
}
button{
    width:4rem;
    height: 2.5rem;
    margin-top:25px;
    margin-left:25px;
    background-color: red;
}
.signin{
    font-size:16px;
}
/* ---------------------------------- */
.second{
    background-color: rgba(243, 241, 241, 0.677);
    display: flex;
    justify-content: space-around;
    align-items:center;
    padding-top: 10px;
    padding-bottom: 10px;
    height:2rem;
}
.left{
    display: flex;
    align-items: center;
}
.left{
    /* background-color: blanchedalmond; */
    justify-content: space-around;
}
.h2{
    font-size:1.2rem;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:100;
    margin-left:33px;
}
/* --------------------------------------------------------- */
.marketing{
    display: flex;
    justify-content: center;
}
/* ----------------------------------------- */
.main{
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 30px 120px 10px 120px;
    
    /* padding-left:10px; */

}
/* --------------------------------------- */
.recommended{
    /* background-color: chartreuse; */
    margin-left: 18px;
}
.recommended h2{
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
}
/* ------------------------------ */
.running{
    /* background-color: aqua; */
    display:flex;
    overflow-x:scroll;
    flex-wrap:nowrap;
    /* justify-content:space-around; */

}
.card{
    /* background-color: rgb(222, 41, 171); */
    /* width:210px; */
    margin-left:10px;
    padding:10px;
    /* border: 5px rgb(195, 189, 189) solid; */
    /* text-align:left; */
    
}
.picture{
    /* background-color: aqua; */
    height:22rem;
    width:14rem;
    border-radius:15px;
}
.movie-Name{
    /* background-color: blue; */
    /* flex-wrap: wrap; */
    /* margin:10px; */
}
.name{
    font-size:1.6rem;
    font-weight:bold;
    font-family: Arial, Helvetica, sans-serif;
}
.genre-name{
    padding: 5px;
    font-size:1.3rem;
    color:grey;
}
/* ------------------------------------ */
.streamAd{
    margin-top:30px;
    display: flex;
    justify-content: center;    
}
.streamAd img{
    width:83%;
    height:5rem;
}

/* --------------------------------------- */
.Live{
    /* background-color: rgb(50, 131, 56); */
    margin: 80px 120px 10px 120px;
}
.heading{
    /* background-color: rgb(50, 131, 56); */
    font-size:1rem;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom:8px;
}

.events{
    /* background-color: rgb(50, 131, 56); */
    display: flex;
    flex-direction:row;
    /* justify-content:space-evenly; */
}
.events div{
    /* background-color: rgb(77, 24, 235); */
    margin-right:35px;

}
.liveEvents{
    height:280px;
    width:280px;
    border-radius :8px;
}

/* --------------------------------- */
@media (max-width:500px)
{
    .running{
        /* display: flex; */
        flex-direction:column;
        justify-content: center;
        align-items:center;
    }
    .card{
        margin: 1rem;
    }
}